body,
html {
	height: 100px;
	width: 200px;
	background: #ffffff;
	font-family: 'Lato', sans-serif;
}

.container {
	display: block;
	position: absolute;
	margin: auto;
	
	
}

h2 {
	color: #22222;
	font-weight: normal;
}

.container ul {
	list-style: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
ul label:hover li {
	color: #404040;
	cursor:pointer;
}

ul label {
	color: #000000;
	display: block;
	float: left;
}

ul label li{

	
	font-weight: 100;
	font-size: 1.25em;
	

	
}
